body {
    margin: 0;
    padding: 0;
}


h1, h2, h3, p {
    margin-block-start: 0;
    margin-block-end: 0;
}


li {
    list-style-type: none;
}


#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #ECECEA;
}


.chaterday__title {
    align-self: center;
    margin: 3vh 0;
    text-align: center;
}


.title__heading {
    font-family: 'Mohave', sans-serif;
    font-size: 2.25rem;
    color: #374243;
}


.title__desc {
    margin: 0 25vw;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.15em;
    color: #374243;
}


#chatbox {
    align-self: center;
    height: 50vh;
    width: 75%;
    overflow-y: scroll;
    background-color: #EAD7DC;
    border: 5px double #9383EC;
}


.chatbox__text {
    width: 100%;
    margin: 1vh 0;
    padding: 2vh 0;
    font-family: 'Mohave', sans-serif;
    font-size: 1.25em;
}


.chatbox__text:nth-child(even) {
    background-color: #D5AFB9;
}


.chatbox__text:nth-child(odd) {
    background-color: #F8F2F3;
}


.chaterday__forms {
    display: flex;
    flex-direction: column;
    align-self: center;
}


#user-input label {
    font-family: 'Titillium Web', sans-serif;
}


#greeting-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    background-color: #C0DAED;
    opacity: 0.925;
}


#greeting-modal h1 {
    padding-bottom: 2vh;
    font-family: 'Mohave', sans-serif;
    font-size: 2.25em;
}